*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family:
          'PT Sans',
          system-ui,
          -apple-system,
          BlinkMacSystemFont,
          'Segoe UI',
          sans-serif;
  font-size: 20px;
  line-height: 1.3;
  font-size-adjust: 0.52;
  color: #42567a;
  background-color: #e5e5e5;
  scroll-behavior: smooth;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 78px;
  padding-bottom: 24px;

  @media (max-width: 1020px) {
    padding: 20px;
  }
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

button:disabled {
  opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: #1f1f1f;
}

p {
  color: #4f4f4f;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

html {
  user-select: none;
}
