@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 1.3;
  color: #42567a;
  background-color: #e5e5e5;
  scroll-behavior: smooth;
}

body {
  outline: 2px solid red;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  padding-left: 78px;
  padding-bottom: 24px;
}


button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

button:disabled {
  opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #1f1f1f;
}

p {
  color: #4f4f4f;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

html {
  scroll-behavior: smooth;
  user-select: none;
}
