.timeline {
  position: relative;
  margin-top: 170px;
}
.title {
  max-width: 353px;
  font-size: 56px;
  font-weight: 600;
  color: #42567a;
  line-height: 120%;
  text-align: left;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -78px;
    top: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(to bottom, #3877ee, #ef5da8);
  }
}

.circleWrapper {
  outline: 2px solid blue;
  position: relative;
  width: 670px;
  height: 670px;
  margin: 0 auto;
  transform: translateY(-180px);
}

.circleClip {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.years {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 136px;
  font-size: 180px;
  font-weight: 600;
  line-height: 160px;
  letter-spacing: -0.02em;
  pointer-events: none;

  .from {
    color: #5d5fef;
  }
  .to {
    color: #ef5da8;
  }
}

.circleWrapper {
  position: relative;
}

.sliderNav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 24px;
  margin-top: -360px;
  margin-bottom: 48px;
}

.arrowWrapper {
  display: flex;
  gap: 16px;
}

.arrow {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(66, 86, 122, 0.5);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  transition:
    background 0.2s,
    transform 0.2s;

  &:hover:not(:disabled) {
    background: #f0f0f0;
  }

  svg {
    display: block;
  }
}

.counter {
  font-size: 18px;
  font-weight: 600;
  color: #42567a;
}

.svgTitle {
  pointer-events: none;
  font-weight: 700;
}

text {
  pointer-events: none;
}

.sliderWrapper {
  position: relative;
  width: 100%;
}

.sliderArrow {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background-color: #f0f0f0;
  color: #42567a;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  transition:
    background-color 0.2s,
    box-shadow 0.2s,
    transform 0.2s;
  transform: translateY(-50%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

  &.left {
    left: 40px;

    svg {
      transform: rotate(180deg);
    }
  }

  &.right {
    right: 40px;
  }

  &:hover {
    background-color: #e0e0e0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
}

.sliderArrow svg {
  display: block;
}

.yearColor {
  font-family:
    Bebas Neue,
    sans-serif;
  font-size: 25px;
  line-height: 120%;
  color: #3877ee;
  padding-bottom: 16px;
}
